@import "common/custom-colors";

.mdl-layout__header .mdl-layout__drawer-button {
    @extend .mdl-color-text--grey-50;
}

body { scroll-behavior: smooth; }

h1 {
  @include typo-display-1();
  }

h2 {
      @include typo-headline();
  }

h3 {
  @include typo-title();
  }


@media (min-width: 37rem) {
  h1 {
    @include typo-display-2();
  }

  h2 {
      @include typo-display-1();
    }

  h3 {
    @include typo-headline();
    }
}

@media (min-width: 60rem) {
  h1 {
    @include typo-display-3();
  }

  h2 {
    @include typo-display-2();
    }

  h3 {
    @include typo-display-1();
    }
}

/* Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background.
.material-icons.md-dark { color: red; }
.material-icons.md-dark.md-inactive { color: magenta; }

/* Rules for using icons as white on a dark background.
.material-icons.md-light { color: green; }
.material-icons.md-light.md-inactive { color: lime; } */
