
@import "../../bower_components/material-design-lite/src/color-definitions";
//@import "functions";
@import "custom-colors";

$height-of-sliver-row: 1.2rem;

$trim-color-classes: false !default;


// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: $palette-grey-500 !default;
$color-primary-dark: $palette-grey-700 !default;
$color-accent: $palette-blue-700 !default;


// Our primary is dark, so use $color-dark-contrast for overlaid text.
$color-primary-contrast: $palette-yellow-500 !default;
// Our accent is dark, so use $color-dark-contrast for overlaid text.
$color-accent-contrast: $palette-yellow-500 !default;

$preferred_font: 'Helvetica Neue', 'Arial', sans-serif !default;
$performance_font: 'Helvetica', 'Arial', sans-serif !default;

