

.mdl-mega-footer--heading, .mdl-mega-footer__heading {
  @extend .mdl-color-text--alabaster-600;
  font-weight: 900;
  font-size: 1.2rem;
}

.mdl-mega-footer__drop-down-section {
  img {
    margin: .9rem 0 !important;
    }
  }

.mdl-mini-footer__address {
  margin-bottom: 2rem;
}

.mdl-mega-footer {
  padding-bottom: 3rem;
}

.mdl-mega-footer {
  ul {
    @extend .mdl-mega-footer__link-list;
  }
}

.mdl-mega-footer--heading-checkbox:checked ~ div,
.mdl-mega-footer__heading-checkbox:checked ~ div {
  display: none;

  @media screen and (min-width: 760px) {
    display: block;
  }
}

.mdl-mega-footer__drop-down-section > div:empty {
  display: none;
}

.mdl-mega-footer {
  ul {
    @extend .mdl-mega-footer;
  }

  .textwidget {
    line-height: $footer-btn-size;
  }

  span {
    @extend .mdl-color-text--alabaster-600;
  }

  a {
    @extend .mdl-color-text--mandarin-100;
  }
}

.mdl-mega-footer {
  svg {
    fill: unquote("rgb(#{$palette-alabaster-100})") !important;
    }
}

.mdl-mega-footer {
      flex-flow: row wrap;
      margin: 1.8rem 0;
      @extend .mdl-color-text--alabaster-100;
  }

.mdl-mega-footer__address {
  line-height: 1em;
  > span:first-child {
    line-height: 1.2rem;
    font-size: 1.3rem;
  }
}
