.hero {
  background: hsla(201, 61%, 50%, 1) url("../images/Mediation-lawyer-tampa-bay1-1200.jpg") repeat scroll center center / 1200px 555px;
  height:555px;
}

.mdl-cell--biography p {
  @include typo-headline();
}

h2.front-page {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.001rem;
  text-decoration: none;
  word-spacing: -0.1rem;
  color: hsla(253, 6%, 74%, 1);
  }
