.mdl-layout-title {
    color: inherit;
    font-size: 1.3em;
    letter-spacing: -0.001em;
    text-decoration: none;
    word-spacing: -0.1em;
}

.menu-item {
  @extend .mdl-navigation__link;
}

.mdl-layout__header-row {
    height: 56px;
    padding: 0 12px 0 52px;
}

.mdl-layout__drawer .mdl-layout-title {
    color: inherit;
    font-size: 1em;
    letter-spacing: -0.001em;
    text-decoration: none;
    word-spacing: -0.1em;
}
//480, 600, 840, 960, 1280, 1440, and 1600dp.

@media (min-width: 600px) {
  .mdl-layout-title {
      color: inherit;
      font-size: 1.5em;
      letter-spacing: .4em;
      text-decoration: none;
      word-spacing: .1em;
  }

  .mdl-layout__header-row {
    height: 56px;
    padding: 0 12px 0 62px;
  }
}

@media (min-width: 960px) {
  .mdl-layout-title {
      color: inherit;
      font-size: 1.5em;
      letter-spacing: .8em;
      text-decoration: none;
      word-spacing: .8em;
  }

  .mdl-layout__header-row {
    height: 56px;
    padding: 0 12px 0 72px;
  }
}
